body {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

h2, h3, h4{
    text-align: center;

}

h2 {
    font-size: 20px;
}

main img {
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}